{% include "../includes/head.html" %}

<body class="{{mainPage}}">
	
<div class="preloader">
	<span class="icon-preloader">
		<div class="multi-spinner-container">
			<div class="multi-spinner">
				<div class="multi-spinner">
					<div class="multi-spinner">
						<div class="multi-spinner">
							<div class="multi-spinner">
								<div class="multi-spinner"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</span>
</div>

{% include "../includes/header.html" %}
	
{% block content %}{% endblock %}

{% include "../includes/footer.html" %}

{% include "../includes/modals.html" %}

{% include "../includes/scripts.html" %}

</body>
</html>
