/* @mixin background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media: $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}
}
 */

/*______ Main Fonts ______*/

/*______ Montserrat ______*/

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/*______ PlayfairDisplay ______*/

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

/*______ Icomoon ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?19vzl");
  src: url("../fonts/icomoon/icomoon.eot?19vzl#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?19vzl") format("truetype"), url("../fonts/icomoon/icomoon.woff?19vzl") format("woff"), url("../fonts/icomoon/icomoon.svg?19vzl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo1:before {
  content: "\e903";
  color: #fff;
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-inst:before {
  content: "\e902";
}

.icon-logo:before {
  content: "\e905";
  color: #fff;
}

.icon-long-arrow-down:before {
  content: "\e906";
  color: #fff;
}

.icon-search:before {
  content: "\e907";
}

.icon-youtube:before {
  content: "\e908";
  color: #d8b57b;
}

.icon-vk:before {
  content: "\e909";
  color: #d8b57b;
}

.icon-close-button:before {
  content: "\e90a";
}

.icon-filter-results-button:before {
  content: "\e90b";
}

/*______ Default style ______*/

body,
table {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1160px;
}

/*______ Elements ______*/

h1,
.title-h1 {
  color: #000000;
  font-size: 64px;
  line-height: 72px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

h2,
.title-h2 {
  color: #000000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  font-family: "PlayfairDisplay";
}

h3,
.title-h3 {
  color: #000000;
  font-size: 28px;
  line-height: 29px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

h4,
.title-h4 {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

.small-title {
  font-size: 21px;
  line-height: 300px;
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 20px 0 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  font-family: "Montserrat";
}

ul li:before,
ul li:after,
ol li:before,
ol li:after {
  display: none;
}

ul li,
ol li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
}

ul li:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #d8b57b;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ol {
  counter-reset: section;
}

ol li:before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  top: 0px;
  left: 0;
  color: #d8b57b;
}

blockquote {
  position: relative;
  margin: 35px 0;
  padding: 20px 50px;
  font-family: "PlayfairDisplay";
  font-weight: 400;
  max-width: 695px;
}

blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  display: block;
  width: 23px;
  height: 19px;
}

blockquote:before {
  top: 0;
  right: 20px;
  background: url("../img/open-quote.png") center no-repeat;
}

blockquote:after {
  bottom: 0;
  left: 0;
  background: url("../img/close-quote.png") center no-repeat;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat";
}

.btn {
  position: relative;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  min-width: 160px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #d8b57b;
  background-color: #d8b57b;
  -webkit-transition: background-color .3s, border-color .3s, color .3s ease;
  -o-transition: background-color .3s, border-color .3s, color .3s ease;
  -moz-transition: background-color .3s, border-color .3s, color .3s ease;
  transition: background-color .3s, border-color .3s, color .3s ease;
  z-index: 2;
}

.btn:after,
.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1%;
  background-color: transparent;
  -webkit-transition: height .3s ease-out;
  -o-transition: height .3s ease-out;
  -moz-transition: height .3s ease-out;
  transition: height .3s ease-out;
  z-index: -1;
}

.btn:before {
  top: auto;
  bottom: 50%;
}

.btn:hover {
  color: #ffffff;
  border-color: #bea67c;
  text-decoration: none;
}

.btn:hover:after,
.btn:hover:before {
  height: 50%;
  background-color: #bea67c;
}

.btn--think {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

.btn--think:hover {
  background-color: #d8b57b;
  border-color: #d8b57b;
}

.btn--think:hover:after,
.btn--think:hover:before {
  background-color: #d8b57b;
}

.btn--black {
  font-size: 14px;
  font-weight: 600;
  background-color: #000000;
  border: 2px solid #000000;
}

.btn--black:hover {
  border-color: #4d4c4c;
}

.btn--black:hover:after,
.btn--black:hover:before {
  background-color: #4d4c4c;
}

/*______ PAGE HEADER ______*/

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.header.small {
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1360px;
  background-color: #ffffff;
}

.header.small .logo:before {
  color: #000000;
}

.header.small .navigation a {
  color: #000000;
}

.header.small .header-contacts .tel {
  color: #000000;
}

.header.small .header-inner {
  padding: 20px 0;
}

.header.small .navigation ul li {
  margin-right: 5%;
}

.header.small .soc-links {
  margin-left: 13%;
  margin-right: auto;
}

.header-inner {
  padding: 20px 5%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-inner .logo {
  margin-right: 5%;
  font-size: 64px;
}

.header-inner .logo:hover {
  text-decoration: none;
}

.header-inner__left,
.header-inner__right {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-inner__right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-inner__right .soc-links {
  margin: 0 auto;
}

.navigation {
  width: 90%;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 1;
}

.navigation ul li:before,
.navigation ul li:after {
  display: none;
}

.navigation ul li {
  margin: 0;
  padding: 0;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: margin .3s ease;
  -o-transition: margin .3s ease;
  -moz-transition: margin .3s ease;
  transition: margin .3s ease;
}

.navigation ul li:before {
  display: none;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: #a7a7a7;
  text-decoration: none;
}

.soc-links {
  -webkit-transition: margin .3s ease;
  -o-transition: margin .3s ease;
  -moz-transition: margin .3s ease;
  transition: margin .3s ease;
}

.soc-links a {
  margin-right: 20px;
  display: inline-block;
  color: #d8b57b;
  font-size: 20px;
}

.soc-links a.icon-vk {
  font-size: 21px;
}

.soc-links a:last-child {
  margin-right: 0;
}

.soc-links a:before {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.soc-links a:hover {
  text-decoration: none;
}

.soc-links a:hover:before {
  color: #bea67c;
}

.header-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts .tel {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.header-contacts .btn {
  margin-left: 50px;
}

/*______ Page Content ______*/

.first-screen {
  position: relative;
  padding: 0 5%;
  height: 100vh;
  background: url("../img/main-page-bg.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  z-index: 100;
}

.first-screen-inner {
  position: relative;
  padding-top: 10%;
  padding-left: -webkit-calc(73px + 2.5%);
  padding-left: -moz-calc(73px + 2.5%);
  padding-left: calc(73px + 2.5%);
}

.first-screen-inner h1 {
  margin-bottom: 7%;
  color: #ffffff;
}

.first-screen-inner .btn {
  margin-bottom: 6%;
  padding: 0 48px;
  height: 58px;
  line-height: 58px;
  color: #ffffff;
  text-transform: uppercase;
}

.first-screen-inner .arrow-down {
  display: block;
}

.first-screen-inner .slogan {
  position: absolute;
  top: 85%;
  right: 7px;
  color: #a7a7a7;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  transform-origin: 100% center;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

.second-screen {
  position: relative;
  z-index: 101;
  background-color: #ffffff;
}

.second-screen:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  display: block;
  height: 30px;
  width: 100%;
  max-width: 1030px;
  background-color: #ffffff;
}

.catalog-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-nav ul li:before,
.catalog-nav ul li:after {
  display: none;
}

.slideUp {
  height: 100vh;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: -webkit-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99), -moz-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99), -webkit-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99), -moz-transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.content {
  padding-top: 180px;
}

/*______ Catalog ______*/

.catalog-nav .nav-list li {
  margin-bottom: 10px;
  padding-left: 0;
}

.catalog-nav .nav-list li.active a {
  color: #000000;
}

.catalog-nav .nav-list a {
  color: #a7a7a7;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.catalog-nav .nav-list a.active {
  color: #000000;
  font-weight: 600;
}

.catalog-body {
  position: relative;
  margin-bottom: 80px;
  font-size: 0;
}

.catalog-body::after {
  content: "";
  display: table;
  clear: both;
}

.catalog-body:before {
  content: '';
  position: absolute;
  top: 50px;
  bottom: 185px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 475px;
  display: block;
  background-color: #faeedd;
  opacity: 0.85;
  z-index: -1;
}

.seo-text {
  margin-bottom: 120px;
}

/*______ Catalog card ______*/

.card {
  margin-bottom: 90px;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  text-align: center;
}

.card:nth-child(1n) {
  float: left;
}

.card:nth-child(2n) {
  float: right;
}

.card:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.card__img {
  margin-bottom: 20px;
}

.card__name {
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 29px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

.card__fabric {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

/*______ PAGE FOOTER ______*/

.footer {
  padding: 60px 0;
  background: #000000;
}

.footer-inner {
  margin: 0 auto;
  max-width: 1360px;
  color: #ffffff;
}

/*______ SLIDERS ______*/

/*______ MODALS WINDOWS ______*/

/*______ FORMS ______*/

@media (min-width: 0px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}

@media (min-width: 1440px) {
  .first-screen-inner {
    padding-top: 21%;
  }
}