/* @mixin background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media: $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}
}
 */

/*______ Main Fonts ______*/

/*______ Montserrat ______*/

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

/*______ PlayfairDisplay ______*/

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

/*______ Icomoon ______*/

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?s759fd");
  src: url("../fonts/icomoon/icomoon.eot?s759fd#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?s759fd") format("truetype"), url("../fonts/icomoon/icomoon.woff?s759fd") format("woff"), url("../fonts/icomoon/icomoon.svg?s759fd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-inst:before {
  content: "\e902";
}

.icon-logo:before {
  content: "\e905";
  color: #fff;
}

.icon-long-arrow-down:before {
  content: "\e906";
  color: #fff;
}

.icon-search:before {
  content: "\e907";
}

.icon-youtube:before {
  content: "\e908";
  color: #d8b57b;
}

.icon-vk:before {
  content: "\e909";
  color: #d8b57b;
}

.icon-close-button:before {
  content: "\e90a";
}

.icon-filter-results-button:before {
  content: "\e90b";
}

/*______ Default style ______*/

body,
table {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

.uk-container {
  margin: 0 auto;
  max-width: 1200px;
}

/*______ Elements ______*/

h1,
.title-h1 {
  color: #000000;
  font-size: 64px;
  line-height: 72px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

h2,
.title-h2 {
  color: #000000;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  font-family: "PlayfairDisplay";
}

h3,
.title-h3 {
  color: #000000;
  font-size: 28px;
  line-height: 29px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

h4,
.title-h4 {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-family: "PlayfairDisplay";
}

.small-title {
  font-size: 21px;
  line-height: 300px;
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 20px 0 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  font-family: "Montserrat";
}

ul li,
ol li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
}

ul li:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #d8b57b;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ol {
  counter-reset: section;
}

ol li:before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  top: 0px;
  left: 0;
  color: #d8b57b;
}

blockquote {
  position: relative;
  margin: 35px 0;
  padding: 20px 50px;
  font-family: "PlayfairDisplay";
  font-weight: 400;
  max-width: 695px;
}

blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  display: block;
  width: 23px;
  height: 19px;
}

blockquote:before {
  top: 0;
  right: 20px;
  background: url("../img/open-quote.png") center no-repeat;
}

blockquote:after {
  bottom: 0;
  left: 0;
  background: url("../img/close-quote.png") center no-repeat;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Montserrat";
}

.btn {
  position: relative;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  min-width: 160px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #d8b57b;
  background-color: #d8b57b;
  -webkit-transition: background-color .3s, border-color .3s, color .3s ease;
  -o-transition: background-color .3s, border-color .3s, color .3s ease;
  -moz-transition: background-color .3s, border-color .3s, color .3s ease;
  transition: background-color .3s, border-color .3s, color .3s ease;
  z-index: 2;
}

.btn:after,
.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1%;
  background-color: transparent;
  -webkit-transition: height .3s ease-out;
  -o-transition: height .3s ease-out;
  -moz-transition: height .3s ease-out;
  transition: height .3s ease-out;
  z-index: -1;
}

.btn:before {
  top: auto;
  bottom: 50%;
}

.btn:hover {
  color: #ffffff;
  border-color: #bea67c;
  text-decoration: none;
}

.btn:hover:after,
.btn:hover:before {
  height: 50%;
  background-color: #bea67c;
}

.btn--think {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  background-color: transparent;
}

.btn--think:hover {
  background-color: #d8b57b;
  border-color: #d8b57b;
}

.btn--think:hover:after,
.btn--think:hover:before {
  background-color: #d8b57b;
}

.btn--black {
  font-size: 14px;
  font-weight: 600;
  background-color: #000000;
  border: 2px solid #000000;
}

.btn--black:hover {
  border-color: #4d4c4c;
}

.btn--black:hover:after,
.btn--black:hover:before {
  background-color: #4d4c4c;
}

/*______ PAGE HEADER ______*/

.header {
  position: fixed;
}

/*______ Page Content ______*/

.main-page {
  height: 100vh;
  background: url("../img/main-page-bg.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

/*______ PAGE FOOTER ______*/

/*______ SLIDERS ______*/

/*______ MODALS WINDOWS ______*/

/*______ FORMS ______*/

@media (min-width: 0px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}