/*______ Sliders ______*/

.products-slider {
	.title-h2 {
		@media (min-width: $mob-xs) {
			padding-left: 0;
		}
		@media (min-width: $tablet-w) {
			padding-left: 8.5%;
		};
	}
	.slider {
		margin: 50px 0 110px;
		@media (min-width: $mob-xs) {
			padding: 0;
		}
		@media (min-width: $tablet-w) {
			padding: 0 8.5%;
		};
		.slick-list {
			margin: 0 -15px;
		}
		.slide {
			margin: 0 15px;
		}
		.slick-prev,.slick-next {
			width: auto;
			height: auto;
			font-size: 60px;
			z-index: 200;
			color: #d8b57b;
			transition: color .3s ease;
			&:before {
				display: none;
				font-family: none;
				content: '';
			}
			&:hover {
				color: $gray;
			}
		}
		.slick-prev {
			left: 0;
		}
		.slick-next {
			right: 0;
		}
	}
	.card {
		margin-bottom: 0;
	}
}
