/*______ PAGE HEADER ______*/

.header {
	position: fixed;
	width: 100%;
	z-index: 999;
}

.header-inner {
	padding: 20px 5%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
		margin-right: 5%;
	}
	&__left,&__right {
		width: 50%;
		display: flex;
		align-items: center;
	}
	&__right {
		justify-content: flex-end;
		.soc-links {
			margin: 0 auto;
		}
	}
}

.navigation { 
	width: 90%;
	ul {
		@include list-reset;
		font-size: 0;
		line-height: 1;
		li {
			margin: 0;
			padding: 0;
			margin-right: 3%;
			display: inline-block;
			vertical-align: top;
			&:before {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #ffffff;
				font-size: 14px;
				line-height: 14px;
				font-weight: 700;
				text-transform: uppercase;
				&:hover {
					color: $gray;
					text-decoration: none;
				}
			}
		}
	}
}

.soc-links {
	a {
		margin-right: 20px;
		display: inline-block;
		color: #d8b57b;
		font-size: 20px;
		&.icon-vk {
			font-size: 21px;
		}
		&:last-child {
			margin-right: 0;
		}
		&:before {
			transition: color .3s ease;
		}
		&:hover {
			text-decoration: none;
			&:before {
				color: #bea67c;
			}
		}
	}
}
 
.header-contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.tel {
		color: #ffffff;
		font-size: 16px;
		line-height: 21px;
		font-weight: 700;
	}
	.btn {
		margin-left: 50px;
	}
}
