/*______ MODALS WINDOWS ______*/

.fancybox-content {
	background-color: transparent;
}

.inspiration-modal {
	padding: 0;
	width: 792px;
	max-height: 650px;
	display: none;
	.slide {
		margin: 0 auto;
		background: #ffffff;
		@media (min-width: $mob-s) {
			max-width: 450px;
		};
		@media (min-width: $tablet-w) {
			max-width: 100%;
		};
	}
	.img {
		@media (min-width: $mob-xs) {
			height: 250px;
		};
		@media (min-width: $tablet-w) {
			height: auto;
		};
		img {
			display: inline;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.desc {
		@media (min-width: $mob-xs) {
			height: auto;
			padding: 30px 55px 30px 45px;
		};
		@media (min-width: $tablet-w) {
			padding: 30px 6.1%;
		};
		.application-form {
			margin-left: 0;
		}
	}
	ul,ol {
		margin-bottom: 60px;
		li {
			padding-left: 45px;
		}
	}
	ol{
		li {
			&:before {
				font-size: 21px;
				line-height: 17px;
			}
		}
	}
}


#fancybox-left span {
	left: 20px;
}

#fancybox-right span {
	right: 20px;
	left: auto;
}

#fancybox-wrap {
	padding: 0;
}


.fancybox-navigation .fancybox-button--arrow_left,
.fancybox-navigation .fancybox-button--arrow_right {
	padding: 0;
	width: auto;
	height: 60px;
	@include icomoon;
	font-size: 60px;
	color: #ffffff;
	opacity: 1;
	visibility: visible;
	@media (min-width: $mob-xs) {
		font-size: 40px;
	};
	@media (min-width: $tablet-w) {
		font-size: 60px;
	};
	div,svg {
		display: none;
	}
	&[disabled] {
		&:before {
			color: #d3d3d3;
		}
	}
}

.fancybox-navigation .fancybox-button--arrow_left {
	&:before {
		content: "\e901";
		color: #d8b57b;
	}
}

.fancybox-navigation .fancybox-button--arrow_right{
	right: 17px;
	&:before {
		content: "\e900";
		color: #d8b57b;
	}
}


.fancybox-button svg {
	color: #ffffff;
	@media (min-width: $desk-w) {
		color: #000000;
	};
}


/*______ Default modal ______*/

.default-modal {
	.title-h2 {
		@media (min-width: $mob-xs) {
			font-size: 26px;
		}
	}
	form {
		max-width: 100%;
	}
}
