/*______ Catalog card ______*/

.card {
	margin-bottom: 90px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	&__img {
		margin-bottom: 20px;
	}
	&__name{
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 29px;
		font-weight: 900;
		font-family: $titleFont;
	}
	&__fabric,&__time  {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
	}
}
