/*______ Catalog ______*/

.catalog-nav-wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 10000;
}

.catalog-nav {
	z-index: 500;
	.nav-list {
		li {
			margin-bottom: 10px;
			padding-left: 0;
			&.active {
				a {
					color: #000000;
				}
			}
		}
		a {
			color: #a7a7a7;
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			&.active {
				color: #000000;
				font-weight: 600;
			}
		}
	}
	&__inner {
		position: relative;
		margin-bottom: 50px;
		.nav-list {
			position: absolute;
			top: 100%;
			left: 0;
			padding: 15px 10px 0;
			width: 100%;
			display: none;
			background-color: #ffffff;
			border: 2px solid #d8b57b;
			border-top: none;
			z-index: 250;
		}
		@media (min-width: $desk-w) {
			margin-bottom: 0;
			padding: 0;
			.nav-list {
				position: static;
				padding: 0;
				border: none;
				display: block !important;
				background-color: transparent;
			}
		};
	}
}

.catalog-nav-title {
	padding: 12px 10px;
	border: 2px solid #d8b57b;
	display: block;
	color: $mainColor;
	font-size: 18px;
	font-family: $mainFont !important;
	font-weight: 500;
	&:hover,&:focus {
		text-decoration: none;
		color: #000000;
	}
	&:before {
		position: absolute;
		top: 14px;
		right: 8px;
		font-family: 'icomoon' !important;
		transition: transform .3s ease;
	}
	&.open {
		color: #000000;
		border-bottom: 0;
		&:before {
			transform: rotate(90deg);
		}
	}
}

.catalog-header {
	position: relative;
	margin-top: -8px;
}

.catalog-body {
	position: relative;
	font-size: 0;
	@include clearfix;
	@media (min-width: $mob-xs) {
		margin-bottom: 30px;
	}
	@media (min-width: $tablet-w) {
		margin-bottom: 80px;
	};
	&:before {
		content: '';
		position: absolute;
		top: 50px;
		bottom: 185px;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 475px;
		display: block;
		background-color: #faeedd;
		opacity: 0.85;
		z-index: -1;
	}
	.card {
		&:nth-child(1n) {
			float: left;
		}
		&:nth-child(2n) {
			float: right;
		}
		@media (min-width: $mob-xs) {
			width: 100%;
			&:nth-last-child(-n+2) {
				margin-bottom: 90px;
			}
		}
		@media (min-width: $mob-s) {
			width: 45%;
			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		};
	}
}


.seo-text {
	margin-bottom: 120px;
}
