/*______ Catalog ______*/

.catalog-nav {
	.nav-list {
		li {
			margin-bottom: 10px;
			padding-left: 0;
			&.active {
				a {
					color: #000000;
				}
			}
		}
		a {
			color: #a7a7a7;
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			&.active {
				color: #000000;
				font-weight: 600;
			}
		}
	}
}

.catalog-header {
	margin-top: -8px;
}

.catalog-body {
	position: relative;
	margin-bottom: 80px;
	font-size: 0;
	@include clearfix;
	&:before {
		content: '';
		position: absolute;
		top: 50px;
		bottom: 185px;
		left: 0;
		right: 0;
		margin: 0 auto;
		max-width: 475px;
		display: block;
		background-color: #faeedd;
		opacity: 0.85;
		z-index: -1;
	}
	.card {
		width: 45%;
		&:nth-child(1n) {
			float: left;
		}
		&:nth-child(2n) {
			float: right;
		}
		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}
}


.seo-text {
	margin-bottom: 120px;
}
