/*______ Page Content ______*/
body {
	&.load {
		overflow: hidden;
	}
	&.main-page-preloader,&.preloader {
		overflow: hidden;
	}
	&.mainPage {
		overflow: hidden;
		.footer {
			display: none;
		}
	}
}

.video-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 120;
	object-fit: cover;
}

.screens-wrapper {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0, 0, 0, .8);
		z-index: 121;
	}
}

.first-screen {
	position: relative;
	padding: 0 5%;
	height: 100vh;
	overflow: hidden;
	z-index: 130;
	@media (min-width: $mob-xs) {
		padding: 0 15px;
		background: url('../img/main-page-bg.png') center no-repeat;
		background-size: cover;
	}
	@media (min-width: $desk-w) {
		padding: 0;
		background: none;
	};
}

.first-screen-inner {
	position: relative;
	@media (min-width: $mob-xs) {
		padding: 40px 0;
	}
	@media (min-width: $desk-w) {
		margin-top: 200px;
		margin-right: 5%;
		margin-left: calc(73px + 2.5%);
		padding-top: 0;
	};
	@media (min-width: 1400px) {
		margin-top: 263px;
	}
	h1 {
		color: #ffffff;
		@media (min-width: $mob-xs) {
			margin: 130px 0 80px;
			font-size: 35px;
			line-height: 42px;
			text-align: center;
		}
		@media (min-width: $desk-w) {
			margin: 0;		
			margin-bottom: 7%;	
			font-size: 64px;
			line-height: 72px;
			text-align: left;
		};
	}
	.btn {
		margin-bottom: 6%;
		padding: 0 48px;
		height: 58px;
		line-height: 58px;
		color: #ffffff;
		text-transform: uppercase;
		@media (max-width: 959px) {
			margin: 0 auto;
			padding: 0 10px;
			display: block;
			max-width: 200px;
			height: 40px;
			line-height: 36px;
			font-size: 12px;
			border-color: #ffffff;
		}
	}
	.arrow-down {
		display: block;
	}
	.slogan {
		position: absolute;
		top: 0;
		right: 0;
		color: $gray;
		font-size: 14px;
		line-height: 14px;
		font-weight: 300;
		text-transform: uppercase;
		transform-origin: 100% 100%;
		transform: rotate(90deg) translate(100%,75%);
		@media (min-width: $mob-xs) {
			display: none;
		};
		@media (min-width: $desk-w) {
			display: block;
			font-size: 12px;
		};
		@media (min-width: 1300px) {
			font-size: 14px;
		}
	}
}


.catalog-nav {
	ul {
		@include list-reset;
	}
}

.slideUp {
	height: 100vh;
	transition: transform 1s cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transform: translate3d(0, -100%, 0);
}

.content {
	padding-top: 140px;
}


/*______ Inspiration List ______*/

.inspiration-list {
	margin-bottom: 90px !important;
	a.insp-group {
		@media (min-width: $mob-xs) {
			text-align: center;
		};
		@media (min-width: $tablet-w) {
			text-align: left;
		};
	}
}

body.compensate-for-scrollbar {
	margin-right: 0 !important;
	overflow: none !important;
}
