
.clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.object-fit() {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	font-family: 'object-fit: cover; object-position: cover;';
}

.text-size($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}

.background-retina($filename, $fileformat) {
	background-image: url("../img/${filename}$1x.${fileformat}");

	$media $retina-dpi, $retina-ppx {
		background-image: url("../img/${filename}$2x.${fileformat}");
	}

}


.icomoon() {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
