$mob-xs: 0px;
$mob-s: 480px;
$tablet-w: 768px;
$desk-w: 960px;

$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);

$retina-dpi: (min-resolution: 144dpi);
$retina-ppx: (min-resolution: 1.5dppx);

$mainFont: "Montserrat";
$titleFont: "PlayfairDisplay";

$fontSize: 16px;
$lineHeight: 24px;
$fontWeight: 400;

$containerWidth: 1210px;

$mainColor: #000000;
$gray: #a7a7a7;
$lightgray: #b2b2b2;
