@import "global/variables";
@import "global/mixins";
@import "fonts/main-fonts";
@import "fonts/icomoon";
@import "global/default";
@import "global/elements";


@import "header/header";
@import "content/content";
@import "footer/footer";

@import "sliders/sliders";
@import "modals/modals";
@import "forms/forms";



