/*______ Main Fonts ______*/

/*______ Montserrat ______*/

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src:  url('../fonts/Montserrat/Montserrat-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}


/*______ PlayfairDisplay ______*/

@font-face {
  font-family: 'PlayfairDisplay';
  src:  url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src:  url('../fonts/PlayfairDisplay/PlayfairDisplay-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src:  url('../fonts/PlayfairDisplay/PlayfairDisplay-black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
}
