{% block content %}
<footer class="footer">
	<div class="footer-inner">
		<div class="uk-grid" uk-grid>
			<div class="uk-width-1-10">123</div>
			<div class="uk-width-3-10">123</div>
			<div class="uk-width-4-10">4654</div>
			<div class="uk-width-2-10">123</div>
		</div>
	</div>
</footer>
{% endblock %}

<!-- 	<div class="footer-inner">
	<div class="footer-inner__left">
		<a href="/" class="logo icon-logo1">
			
		</a>
		<nav class="navigation">
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Идеи для интерьера</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
	</div>
	<div class="footer-inner__right">
		<div class="soc-links">
			<a href="" class="icon-vk"></a>
			<a href="" class="icon-inst"></a>
			<a href="" class="icon-youtube"></a>
		</div>
		<div class="footer-contacts">
			<a href="tel:+74957904431" class="tel">+7 (495) 790-44-31</a>
			<a href="#callback-modal" class="btn" uk-toggle>Заказать звонок</a>
		</div>
	</div>
</div> -->
