{% block content %}
<div id="callback-modal" class="default-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    	<button type="button" class="uk-modal-close-default icon-close uk-close" uk-close>
    	</button>
        <div class="title-h2">Оставить заявку</div>
				<form action="" class="application-form">
					<input type="text" placeholder="Имя">
					<input type="text" placeholder="Номер телефона" class="js__input-phone">
					<button type="submit" class="btn">Отправить</button>
					<label for="politics">
						<input id="politics" type="checkbox">
						<span class="custom-checkbox"></span>
						<span class="custom-label">
							Я ознакомлен и согласен с условиями обработки данных
						</span>
					</label>
				</form>
    </div>
</div>


<div id="inspiration-modal-2" class="inspiration-modal">

		<div class="slide">
			<div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m">
				<div class="img">
					<img src="img/inspiration-img-1.png" alt="">
				</div>
				<div class="desc">
					<div class="title-h2">Изготовление похожей мебели24</div>
					<ol>
						<li><strong>Стол</strong> - от 10 000 руб</li>
						<li><strong>Табуретка</strong> - от 5 000 руб</li>
						<li><strong>Люстра</strong> - от 10 000 руб</li>
						<li><strong>Светильник</strong> - от 5 000 руб</li>
					</ol>
					<div class="title-h2">Оставить заявку</div>
					<form action="" class="application-form">
						<input type="text" placeholder="Имя">
						<input type="text" placeholder="Номер телефона" class="js__input-phone">
						<button type="submit" class="btn">Оставить заявку</button>
					</form>
				</div>
			</div>
		</div>

</div>

{% endblock %}
