			<!-- begin products-slider -->
			<div class="products-slider">
				<h2 class="title-h2">Выполненные работы</h2>
				<div class="slider">
					<div class="slide">
						<div class="card">
							<div class="card__img">
								<a href="">
									<img src="img/product-slider-307x235.png" alt="">
								</a>
							</div>
							<div class="card__name">Скамья лофт</div>
							<div class="card__fabric">
								Материал: <span> Дерево, Стекло</span>
							</div>
							<div class="card__time">Время изготовление:<span>10 дней</span></div>
							<a href="" class="btn btn--think">Заказать</a>
						</div>	
					</div>
					<div class="slide">
						<div class="card">
							<div class="card__img">
								<a href="">
									<img src="img/product-slider-307x235.png" alt="">
								</a>
							</div>
							<div class="card__name">Скамья лофт</div>
							<div class="card__fabric">
								Материал: <span> Дерево, Стекло</span>
							</div>
							<div class="card__time">Время изготовление:<span>10 дней</span></div>
							<a href="" class="btn btn--think">Заказать</a>
						</div>	
					</div>
					<div class="slide">
						<div class="card">
							<div class="card__img">
								<a href="">
									<img src="img/product-slider-307x235.png" alt="">
								</a>
							</div>
							<div class="card__name">Скамья лофт</div>
							<div class="card__fabric">
								Материал: <span> Дерево, Стекло</span>
							</div>
							<div class="card__time">Время изготовление:<span>10 дней</span></div>
							<a href="" class="btn btn--think">Заказать</a>
						</div>	
					</div>
					<div class="slide">
						<div class="card">
							<div class="card__img">
								<a href="">
									<img src="img/product-slider-307x235.png" alt="">
								</a>
							</div>
							<div class="card__name">Скамья лофт</div>
							<div class="card__fabric">
								Материал: <span> Дерево, Стекло</span>
							</div>
							<div class="card__time">Время изготовление:<span>10 дней</span></div>
							<a href="" class="btn btn--think">Заказать</a>
						</div>	
					</div>
				</div>
			</div>
			<!-- end products-slider -->
