{% extends "layouts/default.html" %}
{% set title="О нас" %}
{% set bread=["Главная","О нас"] %}
{% set small="small" %}
{% block content %}

	<div class="content">
		<div class="uk-container">
{% include "includes/breadcrumbs.html" %}

		<!-- begin text-page -->
		<div class="text-page">
				<div class="text-page__inner">
					<h1>О мастерской</h1>
					<div class="small-title">
						«Мастерская Wood&Stone специализируется на изготовлении эксклюзивных столярных и кованых изделий. 
					</div>
					<img data-src="img/about-us.png" class="lazy" alt="">	
					<p>
						Мы производим мебель как из ценных пород дерева, так и из комбинированных материалов (стекло, камень, металл). Природа помогает приобрести индивидуальность каждому нашему изделию, а мы превращаем созданные ей заготовки в красивейшие и неповторимые изделия
					</p>
					<p>
						Наша мастерская представляет клиенту полный комплекс услуг – начиная от разработки дизайн-проекта и заканчивая монтажом изготовленных изделий на объекте. Мы готовы взяться за любой проект, будь это маленький столик или огромная брутальная лестница
					</p>	
					<blockquote>
						Каждый фрагмент нашей мебели тщательно подбирается мастером для того, чтобы показать неповторимую естественную красоту волокон древесины.
					</blockquote>
					<p>
						Все изделия мы делаем индивидуально и вручную. Оригинальный дизайн и неповторимые формы отлично подойдут как для уютного кафе, так и отлично впишется в дизайн дома или квартиры.
					</p>
					<p>
						Вся мебель может быть выполнена по индивидуальным параметрам. Вы можете поменять размер, оттенок обработки древесины, материалы, изменить конструкцию – добавить или убрать отдельные элементы. Также изготовим любой предмет мебели по фотографии, чертежам или эскизам.
					</p>
				</div>		
		</div>
		<!-- end text-page -->

		</div>
	</div>

{% endblock %}
