{% extends "layouts/default.html" %}
{% set title="Каталог" %}
{% set small="small" %}
{% block content %}

	<div class="content padding-top-big">
		<div class="uk-container">

			<!-- begin catalog -->
			<div class="catalog">
				<div class="uk-grid">
					<div class="uk-width-1-4">
						<div class="catalog-nav" uk-sticky="offset: 110; bottom: .catalog">
							<ul class="nav-list">
								<li><a href="#" class="active">Все товары</a></li>
								<li><a href="#">Мебель для гостинной</a></li>
								<li><a href="#">Мебель для спальни</a></li>
								<li><a href="#">Кухоный гарнитур</a></li>
								<li><a href="#">Мебель для кухни</a></li>
								<li><a href="#">Мебель для ванной</a></li>
								<li><a href="#">Мебель для каридора</a></li>
								<li><a href="#">Лестницы</a></li>
								<li><a href="#">Предметы Итерьера</a></li>
							</ul>
						</div>
					</div>
					<div class="uk-width-3-4">
						<div class="catalog-content">
							<div class="catalog-header">
								<h1>Каталог</h1>
							</div>
							<div class="catalog-body" uk-scrollspy="target: .card; cls: uk-invisible uk-animation-scale-up; delay: 300">
								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-1-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Стол лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>
								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-2-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Скамья лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-2-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Скамья лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>								

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-1-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Стол лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-1-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Стол лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-2-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Скамья лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>	

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-2-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Скамья лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>	

								<div class="card uk-invisible">
									<div class="card__img">
										<a href="">
											<img src="img/catalog-img-1-380x191.png" alt="">
										</a>
									</div>
									<div class="card__name">Стол лофт</div>
									<div class="card__fabric">
										Материал: <span> Дерево, Стекло</span>
									</div>
									<a href="" class="btn btn--think">Подробнее</a>
								</div>

							</div>
							<div class="seo-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis mollis bibendum. Ut dictum odio ipsum, ac suscipit elit pharetra eget. Cras  ipsum, blandit eget egestas id, eleifend ut elit. Vestibulum consectetur orci eros, ut vulputate magna mollis a. Vestibulum accumsan neque eget tellus pellentesque, eu eleifend nisi egestas. Vivamus sagittis turpis et dui molestie, non tempor justo tincidunt. Morbi ut sapien venenatis, accumsan nunc eu, rhoncus eros. In euismod nibh quis pellentesque ultrices. Pellentesque consectetur rhoncus mauris sit amet egestas.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end catalog -->

		</div>
	</div>
{% endblock %}
