{% extends "layouts/default.html" %}
{% set title="Мебель для гостиной" %}
{% set bread=["Каталог","Мебель для гостиной"] %}
{% set small="small" %}
{% block content %}

	<div class="content">
		<div class="uk-container">
			<div class="detail-product">

			<a href="" class="return icon-arrow-left">Каталог</a>
			<div class="detail-product-content">
				<div class="detail-product-description">
{% include "includes/breadcrumbs.html" %}	
					<h1>Стол аквариум</h1>
					<div class="detail-product-price"><span>от</span> 12 000руб</div>
					<a href="" class="btn btn--black">Рассчитать стоимость</a>
					<div class="detail-tabs">
						<ul uk-switcher>
							<li><a href="">Описание</a></li>
							<li><a href="">Оплата и доставка</a></li>
						</ul>
						<ul class="uk-switcher">
							<li>
								Столешница стола Хевивэйт сделана из 100% массива сосны, ее толщина 40 мм. Подстолье стола выполнено из металлической профильной трубы 40х40 мм. Столешница стола Хевивэйт сделана из 100% массива сосны, ее толщина 40 мм. Подстолье стола выполнено из металлической профильной трубы 
							</li>
							<li>Доставка</li>
						</ul>
					</div>
				</div>
				<div class="detail-product-sliders">
					<!-- begin big-slider -->
					<div class="big-slider">
						<div class="slider">
							<div class="slide" uk-lightbox='groups: big-img'>
								<a href="img/detail-slider-img-big-3-611x461.png" >
									<img src="img/detail-slider-img-big-1-611x461.png" alt="">
								</a>
							</div>
							<div class="slide" uk-lightbox='groups: big-img'>
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-2-611x461.png" alt="">
								</a>
							</div>
							<div class="slide" uk-lightbox='groups: big-img'>
								<a href="img/detail-slider-img-big-3-611x461.png" uk-lightbox>
									<img src="img/detail-slider-img-big-3-611x461.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<!-- end big-slider -->

					<!-- begin preview-slider -->
					<div class="preview-slider">
						<div class="slider">
							<div class="slide">
								<img src="img/detail-slider-img-small-1-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-2-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-3-100x100.png" alt="">
							</div>
						</div>
					</div>
					<!-- end preview-slider -->
				</div>
			</div>
			</div>
		</div>
	</div>

{% endblock %}
