{% extends "layouts/default.html" %}
{% set title="Мебель для гостиной" %}
{% set bread=["Каталог","Мебель для гостиной"] %}
{% set small="small" %}
{% block content %}

	<div class="content padding-top-big">
		<div class="uk-container">
			<div class="detail-product">

			<a href="catalog.html" class="return icon-arrow-left">Каталог</a>
			<!-- begin detail-product-content  -->
			<div class="detail-product-content">
				<div class="detail-product-sliders">
					<!-- begin big-slider -->
					<div class="big-slider preload">
						<div class="slider" uk-lightbox="animation: scale">
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png" >
									<img src="img/detail-slider-img-big-1-611x461.png" alt="">
								</a>
							</div>
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-2-611x461.png" alt="">
								</a>
							</div>
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-3-611x461.png" alt="">
								</a>
							</div>
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-3-611x461.png" alt="">
								</a>
							</div>
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-3-611x461.png" alt="">
								</a>
							</div>
							<div class="slide">
								<a href="img/detail-slider-img-big-3-611x461.png">
									<img src="img/detail-slider-img-big-3-611x461.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<!-- end big-slider -->

					<!-- begin preview-slider -->
					<div class="preview-slider preload">
						<div class="slider">
							<div class="slide">
								<img src="img/detail-slider-img-small-1-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-2-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-3-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-3-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-3-100x100.png" alt="">
							</div>
							<div class="slide">
								<img src="img/detail-slider-img-small-3-100x100.png" alt="">
							</div>
						</div>
					</div>
					<!-- end preview-slider -->
				</div>
				<div class="detail-product-description">
					{% include "includes/breadcrumbs.html" %}	
					<h1>Стол аквариум</h1>
					<div class="detail-product-price"><span>от</span> 12 000руб</div>
					<a href="#callback-modal" class="btn btn--black" uk-toggle>Рассчитать стоимость</a>
					<div class="tabs">
						<ul uk-switcher>
							<li><a href="">Описание</a></li>
							<li><a href="">Оплата и доставка</a></li>
						</ul>
						<ul class="uk-switcher">
							<li>
								Столешница стола Хевивэйт сделана из 100% массива сосны, ее толщина 40 мм. Подстолье стола выполнено из металлической профильной трубы 40х40 мм. Столешница стола Хевивэйт сделана из 100% массива сосны, ее толщина 40 мм. Подстолье стола выполнено из металлической профильной трубы 
							</li>
							<li>Доставка</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end detail-product-content  -->
			
			<!-- begin stages-description -->
			<div class="stages-description">
				<h2>Как мы работаем?</h2>
				<div class="stages-description__inner">
					<div class="uk-grid">
						<div class="uk-width-1-1 uk-width-1-2@m">
							<div class="text">
								С заказчиком обсуждаются все детали и пожелания. На основе эскиза или дизайн-проекта подбираем материалы цвет и метод обработки.Наши мастера делают необходимый замер на объекте.
							</div>
						</div>
						<div class="uk-width-1-1 uk-width-1-2@m">
							<ul class="stages-list">
								<li><span>Консультация и замеры</span></li>
								<li><span>Визуализация мебели</span></li>
								<li><span>Изготовление</span></li>
								<li><span>Установка и монтаж</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end stages-description -->
			
{% include "includes/product-slider.html" %}
			
			<!-- begin application -->
			<div class="application">
				<div class="application__inner">
					<div class="uk-grid">
						<div class="uk-width-1-1 uk-width-1-2@m">
							<h2 class="title-h2">Заявка на изготовление</h2>
							<div class="text">
								Мы разработаем мебель по вашему эскизу. Сделайте заказ и добавьте свой эскиз в форме.Мы ведем весь заказ под ключ, осуществляем авторский надзор и гарантийное обслуживание.
							</div>
						</div>
						<div class="uk-width-1-1 uk-width-1-2@m">
							<form action="" class="application-form">
								<input type="text" placeholder="Имя">
								<input type="text" placeholder="Номер телефона" class="js__input-phone">
								<button type="submit" class="btn">Заказать звонок</button>
							</form>
						</div>
					</div>
				</div>
			</div> 
			<!-- end application -->
			</div>
		</div>
	</div>

{% endblock %}
