{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% set mainPage="main-page" %}
{% block content %}
	<video loop="true" autoplay="" class="video-banner uk-visible@l" preload="metadata">
		<source src="img/woodstone.mp4" type="video/mp4">
	</video>
	<div class="screens-wrapper">
		<section class="first-screen"> 
			<div class="first-screen-inner">
				<h1>Создаем мебель <br> как произведение искуства</h1>
				<div class="slogan">
					ЭКСКЛЮЗИВНАЯ МЕБЕЛЬ ИЗ ДЕРЕВА И МЕТАЛА
				</div>
				<a href="catalog.html" class="btn btn--think js__page-leave">Каталог изделий</a>
			</div>
		</section>
	</div>
{% endblock %}
