{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<section class="main-page"> 
		<h1>Заголовок 1</h1>	
		<h2>Заголовок 1</h2>
		<h3>Заголовок 1</h3>
		<h4>Заголовок 1</h4>
		<a href="" class="btn">ЗАКАЗАТЬ ЗВОНОК</a>
		<a href="" class="btn btn--think">Подробнее</a>
		<button class="btn btn--black">рассчитать стоимость</button>
		<ul>
			<li>Мы производим мебель Мы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебельМы производим мебель</li>
			<li>Мы производим мебель</li>
			<li>Мы производим мебель</li>
		</ul>
		<ol>
			<li>Мы производим мебель-1</li>
			<li>Мы производим мебель-2</li>
			<li>Мы производим мебель-3</li>
		</ol>	
		<blockquote>
			Каждый фрагмент нашей мебели тщательно подбирается мастером для того, чтобы показать неповторимую естественную красоту волокон древесины.
		</blockquote>
		<p>
			Мы производим мебель как из ценных пород дерева, так и из комбинированных материалов (стекло, камень, металл). Природа помогает приобрести индивидуальность каждому нашему изделию, а мы превращаем созданные ей заготовки в красивейшие и неповторимые изделия
		</p>
		<p>
			Мы производим мебель как из ценных пород дерева, так и из комбинированных материалов (стекло, камень, металл). Природа помогает приобрести индивидуальность каждому нашему изделию, а мы превращаем созданные ей заготовки в красивейшие и неповторимые изделия
		</p>
		<div class="small-title">
			«Мастерская Wood&Stone специализируется на изготовлении эксклюзивных столярных и кованых изделий. 
		</div>
	</section>
{% endblock %}
